---
layout: product-without-navbar
title: Academy
description: Learn how to fly remote control helicopters and quadcopters, how to service your RC vehicles or how to build one yourself.
---

<!-- top/nav bar -->
<a href="index.html"><img class="main-logo-top-left" src="img/webrc.png" alt="WebRC"></a>

<ul id="nav-about-page" class="nav nav-pills pull-right">
  <li><a href="index.html#product-section">See products & pricing</a></li>
  <li><a href="#myModal" role="button" data-toggle="modal" type="button" onClick="ga('send', 'event', 'Where to buy button', 'Clicked Where to buy button on webrc academy page', 'Where to buy button on top nav bar');">Where to buy</a></li>
  <li><a href="http://myaccount.zendesk.com/account/dropboxes/20118505" onClick="script: Zenbox.show(); return false;">Support</a></li>
</ul>

<!-- main content -->
<div id="webrc-academy-main-content" class="container">
	<h1>WebRC Academy</h1>
	<p class="lead">Learn how to fly remote control helicopters and quadcopters, how to service your RC vehicles or how to build one yourself. Suggest a course if you don't see what you're looking for.</p>

	<div class="row-fluid">
		<div class="span8">
			<!-- body content -->
			<div id="courses">
				<div class="row-fluid">
					<div class="span6">
						<h2>Try Quadcopters</h2>
						<ul class="unstyled">
							{% for post in site.categories.quadcopters %}
								<li>
						      		<a href="{{ post.url }}">{{ post.title }}</a>
						    	</li>
						  	{% endfor %}
						</ul>
					</div>
					<div class="span6">
						<h2>Helicopter Basics</h2>
						<ul class="unstyled">
							{% for post in site.categories.helicopters %}
								<li>
						      		<a href="{{ post.url }}">{{ post.title }}</a>
						    	</li>
						  	{% endfor %}
						</ul>
					</div>
				</div>
			</div>	
		</div>
		<div class="span4 simple-grey-border">
			<!-- sidebar content -->
			<div class="row-fluid">
				<div class="span12">
					<img id="webrc-academy-seal" src="img/webrc-academy/webrc-academy-seal.png">
					<p class="lead text-center">Official Student</p>
					<hr>
					<div id="list-of-courses">
						<h4>Latest Lessons</h4>
						<ul class="unstyled">
						  {% for post in site.posts %}
						    <li>
						      <a href="{{ post.url }}">{{ post.title }}</a>
						    </li>
						  {% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<!-- Modal (Where To Buy) -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Where to Buy</h3>
	  </div>
	  <div class="modal-body">
	  	<div class="row-fluid">
	  		<div class="span8">
	  			<p class="lead">We want to give you several options so that finding the WebRC® you want at the best possible price is as easy as possible.</p>
			  	<p>We've partnered with some of the most well respected retailers you already know and trust. Simply click on one of their links on the right to view the WebRC selection they offer. Alternatively you can always <a href="index.html#product-section">visit a specific WebRC vehicle page</a> and click "I Want It" for a quicker way to find exactly where to buy a particular vehicle.</p>
			</div>
			<div class="span4">
				<div class="row-fluid"><a href="http://www.amazon.com/s/ref=sr_nr_p_89_0?rh=i%3Aaps%2Ck%3Awebrc%2Cp_89%3AWebRC&keywords=webrc&ie=UTF8&qid=1403213450&rnid=2528832011" target="_blank"><img src="img/where-to-buy/amazon-logo.png" alt="Amazon Logo"></a></div>
				<div class="row-fluid"><a href="http://www.walmart.com/search/search-ng.do?ic=16_0&Find=Find&search_query=WebRC&Find=Find&search_constraint=0" target="_blank"><img src="img/where-to-buy/walmart-logo.png" alt="Walmart Logo"></a></div>
				<div class="row-fluid"><a href="http://www.toysrus.com/search/index.jsp?kwCatId=&kw=webrc&origkw=WebRC&sr=1" target="_blank"><img src="img/where-to-buy/toys-r-us-logo.jpg" alt="ToysRUs Logo"></a></div>
				<div class="row-fluid"><a href="http://www.bestbuy.com/site/searchpage.jsp?_dyncharset=UTF-8&_dynSessConf=6595496601444468122&id=pcat17071&type=page&ks=960&st=WebRC&sc=Global&cp=1&sp=&qp=SAAS~&list=y&usc=All+Categories&nrp=15&fs=saas&iht=n&seeAll=" target="_blank"><img src="img/where-to-buy/best-buy-logo.jpg" alt="Best Buy Logo"></a></div>
			</div>
	  	</div>
	  </div>
	</div>

	<!-- /Modal (Where To Buy) -->