		<div class="container">
          <div class="row">
			<div class="span4 text-left">
				<h4>Get In Touch</h4>
				<p>Do you have questions? Let's talk.</p>
				<address>
				<strong>Funky Planet</strong><br>
				563 Mercantile Pl<br>
				Port Saint Lucie, FL 34986<br>
				<abbr title="Email">E:</abbr> <a href="mailto:support@myfunkyplanet.com">support@myfunkyplanet.com</a><br>
				<abbr title="Phone">P:</abbr> 1(800) 270 5718<br>
				</address>
			</div>
			<div class="span4 text-left">
				<h4>Newsletter</h4>
				<p>Subscribe to our mailing list to stay connected.</p>
				<a href="http://eepurl.com/I4VWr" onClick="_gaq.push(['_trackEvent', 'Subscribe Newsletter Button', 'Clicked subscribe newsletter on footer partial', 'Subscribe newsletter button on footer', 1, false]);" target="_blank" class="btn">Subscribe</a>
			</div>			
			<div class="span4">
				<a href="index.html"><img class="pull-right" src="img/webrc-white.png" alt="WebRC Logo - White"></a>
			</div>
          </div>
          	<div class="row">
	          	<p class="text-center copyright">&copy; 
		            <script language="JavaScript" type="text/javascript">
				    now = new Date
				    theYear=now.getYear()
				    if (theYear < 1900)
				    theYear=theYear+1900
				    document.write(theYear)
					</script> My Funky Planet Corp. - <small>Official distributor of WebRC in USA. The WebRC brand is a property of Groovy Toys Llc.</small></p>
			</div>
    	</div>

