		<div class="container">

        	<!-- Navbar -->
        	<div class="row">
	        	<ul class="nav nav-pills pull-left nav-bar-footer text-left">
	        		<li>
	        			<a href="/index.html">Overview &rarr;</a>
	        		</li>
	        		<li>
	        			<a class="no-cursor" href="#">Air Vehicles &rarr;</a>
	        			<ul class="nav nav-bar-footer-sub-list text-left">
		    				<li>
								<a href="xdrone.html">XDrone</a>
							</li>
							<li>
								<a href="xdrone-nano.html">XDrone Nano</a>
							</li>
		      				<li>
								<a href="blackhawk.html">UH-60 Black Hawk</a>
							</li>
							<li>
								<a href="cobra.html">AH-1 Cobra</a>
							</li>
							<li>
								<a href="huey.html">UH-1 Huey</a>
							</li>
							<li>
								<a href="jayhawk.html">HH-60 Jayhawk</a>
							</li>
							<li>
								<a href="red-eagle.html">Red Eagle</a>
							</li>
	        			</ul>
	        		</li>
	        		<li>
	        			<a class="no-cursor" href="#">Land Vehicles &rarr;</a>
	        			<ul class="nav nav-bar-footer-sub-list text-left">
	        				<li>
								<a href="lamborghini-aventador.html">Lamborghini Aventador</a>
							</li>
							<li>
								<a href="porsche-911-gt3.html">Porsche 911 GT3</a>
							</li>
	        			</ul>
	        		</li>
	        		<li>
	        			<a href="http://wholesale.webrc.co">Wholesale &rarr;</a>
	        		</li>
	        		<li>
	        			<a href="http://support.myfunkyplanet.com">Support &rarr;</a>
	        		</li>
	        		<li>
	        			<a href="http://store.myfunkyplanet.com/categories/Parts/">Parts &rarr;</a>
	        		</li>
	        	</ul>
	        </div>
	        <!-- /Navbar -->


	      <hr class="style-two">  
          <div class="row last-section-footer">
			<div class="span4 text-left">
				<h4>Get In Touch</h4>
				<p>Do you have questions? Let's talk.</p>
				<address>
				<strong>Funky Planet</strong><br>
				563 Mercantile Pl<br>
				Port Saint Lucie, FL 34986<br>
				<abbr title="Email">E:</abbr> <a href="mailto:support@myfunkyplanet.com">support@myfunkyplanet.com</a><br>
				<abbr title="Phone">P:</abbr> 1(800) 270 5718<br>
				</address>
			</div>
			<div class="span4 text-left">
				<h4>Newsletter</h4>
				<p>Subscribe to our mailing list to stay connected.</p>
				<a href="http://eepurl.com/I4VWr" onClick="_gaq.push(['_trackEvent', 'Subscribe Newsletter Button', 'Clicked subscribe newsletter on home page', 'Subscribe newsletter button on footer', 1, false]);" target="_blank" class="btn">Subscribe</a>
			</div>			
			<div class="span4">
				<img class="pull-right" src="img/webrc-white.png" alt="WebRC Logo - White">
			</div>
          </div>
          	<div class="row">
	          	<p class="text-center copyright">&copy; 
		            <script language="JavaScript" type="text/javascript">
				    now = new Date
				    theYear=now.getYear()
				    if (theYear < 1900)
				    theYear=theYear+1900
				    document.write(theYear)
					</script> My Funky Planet Corp. - <small>Official distributor of WebRC in USA. The WebRC brand is a property of Groovy Toys Llc.</small></p>
			</div>
    	</div>

