	<meta charset=utf-8 />

	<title>{{site.main_title}} - {{page.title}}</title>
	
	{% if page.description %}
	<meta name="description" content="{{page.description}}" />
	{% else %}
	<meta name="description" content="{{site.description}}" />
	{% endif %}


	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Coda:400,800' rel='stylesheet' type='text/css'>


	<link rel="shortcut icon" href="favicon.png" type="image/png">

	<script src="//cdn.optimizely.com/js/5568412214362112.js"></script>
