	<meta charset=utf-8 />

	<title>{{site.main_title}} - {{page.title}}</title>
	
	{% if page.description %}
	<meta name="description" content="{{page.description}}" />
	{% else %}
	<meta name="description" content="{{site.description}}" />
	{% endif %}


	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Coda:400,800' rel='stylesheet' type='text/css'>


	<link rel="shortcut icon" href="favicon.png" type="image/png">
	
	<!-- Delay outboud click -->

	<!-- The out outbound click is delayed by a fraction of a second to provide the browser more time to load the tracking code for outbound link -->

	<script type="text/javascript">

	function trackOutboundLink(link, category, action, opt_label, opt_value, opt_noninteraction) {
		try {
			ga('send', 'event', category, action, opt_label, opt_value, opt_noninteraction);
		} catch(err){}

		setTimeout(function() {
			document.location.href = link.href;
		}, 100);
	}
	
	</script>

	<!-- / Delay outbound click -->

	<!-- Google Analytics Code -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-40076514-1', 'webrc.co');
	  ga('require', 'displayfeatures');
	  ga('send', 'pageview');

	</script>
	<!-- / Google Analytics Code -->


