	<meta charset=utf-8 />

	<title>{{site.main_title}} - {{page.title}}</title>
	
	{% if page.description %}
	<meta name="description" content="{{page.description}}" />
	{% else %}
	<meta name="description" content="{{site.description}}" />
	{% endif %}


	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Coda:400,800' rel='stylesheet' type='text/css'>


	<link rel="shortcut icon" href="favicon.png" type="image/png">
	
	<!-- Delay outboud click -->

	<!-- The out outbound click is delayed by a fraction of a second to provide the browser more time to load the tracking code for outbound link -->

	<script type="text/javascript">

	function trackOutboundLink(link, category, action) {
		try {
			_gaq.push(['_trackEvent', category, action]);
		} catch(err){}

		setTimeout(function() {
			document.location.href = link.href;
		}, 100);
	}
	
	</script>

	<!-- / Delay outbound click -->

	<!-- Google Analytics Code -->
	<script type="text/javascript">

  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-40076514-1']);
  		_gaq.push(['_setDomainName', 'webrc.co']);
  		_gaq.push(['_trackPageview']);

  		(function() {
   			 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  			 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script>
	<!-- / Google Analytics Code -->
