<div class="container">

        	<!-- Navbar -->
        	<div class="row">
	        	<ul class="nav nav-pills pull-left nav-bar-footer text-left">
	        		<li>
	        			<a href="/index.html">Overview &rarr;</a>
	        		</li>
	        		<li>
	        			<a class="no-cursor" href="#">Air Vehicles &rarr;</a>
	        			<ul class="nav nav-bar-footer-sub-list text-left">
		    				<li>
								<a href="xdrone.html">XDrone</a>
							</li>
							<li>
								<a href="xdrone-nano.html">XDrone Nano</a>
							</li>
		      				<li>
								<a href="blackhawk.html">UH-60 Black Hawk</a>
							</li>
							<li>
								<a href="cobra.html">AH-1 Cobra</a>
							</li>
							<li>
								<a href="huey.html">UH-1 Huey</a>
							</li>
							<li>
								<a href="jayhawk.html">HH-60 Jayhawk</a>
							</li>
							<li>
								<a href="red-eagle.html">Red Eagle</a>
							</li>
	        			</ul>
	        		</li>
	        		<li>
	        			<a class="no-cursor" href="#">Land Vehicles &rarr;</a>
	        			<ul class="nav nav-bar-footer-sub-list text-left">
	        				<li>
								<a href="lamborghini-aventador.html">Lamborghini Aventador</a>
							</li>
							<li>
								<a href="porsche-911-gt3.html">Porsche 911 GT3</a>
							</li>
	        			</ul>
	        		</li>
	        		<li>
	        			<a href="http://wholesale.webrc.co">Wholesale &rarr;</a>
	        		</li>
	        		<li>
	        			<a href="http://support.myfunkyplanet.com">Support &rarr;</a>
	        		</li>
	        		<li>
	        			<a href="http://store.myfunkyplanet.com/categories/Parts/">Parts &rarr;</a>
	        		</li>
	        	</ul>
	        </div>
	        <!-- /Navbar -->
</div> <!-- /container -->