	<!-- Navigation Bar -->
	<div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li>
				<a href="index.html">Overview</a>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle"
       				data-toggle="dropdown"
       				href="#">
        				Air Vehicles
      	  				<b class="caret"></b>
      			</a>
    			<ul class="dropdown-menu">
    				<li class="nav-header">XDrones</li>
    				<li>
						<a href="/xdrone.html">XDrone</a>
					</li>
					<li>
						<a href="/xdrone-nano.html">XDrone Nano</a>
					</li>
					<li>
						<a href="/xdrone-pro.html">XDrone Pro</a>
					</li>
    				<li class="nav-header">RC Helicopters</li>
      				<li>
						<a href="/blackhawk.html">UH-60 Black Hawk</a>
					</li>
					<li>
						<a href="/cobra.html">AH-1 Cobra</a>
					</li>
					<li>
						<a href="/huey.html">UH-1 Huey</a>
					</li>
					<li>
						<a href="/jayhawk.html">HH-60 Jayhawk</a>
					</li>
					<li>
						<a href="/red-eagle.html">Red Eagle</a>
					</li>
					<li>
						<a href="/iron-eagle.html">Iron Eagle 2</a>
					</li>
    			</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle"
       				data-toggle="dropdown"
       				href="#">
        				Land Vehicles
      	  				<b class="caret"></b>
      			</a>
    			<ul class="dropdown-menu">
    				<li>
						<a href="/lamborghini-aventador.html">Lamborghini Aventador</a>
					</li>
					<li>
						<a href="/porsche-911-gt3.html">Porsche 911 GT3</a>
					</li>
      				<li>
						<a href="/porsche-cayenne-turbo.html">Porsche Cayenne Turbo</a>
					</li>
					<li>
						<a href="/mini-cooper.html">Mini Cooper</a>
					</li>
					<li>
						<a href="/mercedes-benz-slk350.html">Mercedes Benz SLK 350</a>
					</li>
    			</ul>
			</li>
		</ul>
		<a href="index.html"><img src="img/webrc.png" alt="WebRC"></a>
	</div>
	<!-- /Navigation Bar -->