<div class="trusted-by">	
	<div class="container">
		<div class="row-fluid">
			<p class="lead muted text-center" id="trusted-by-headline">TRUSTED BY THESE AMAZING COMPANIES</p>
			<div class="span12" id="trusted-by-retailer-logos">
				<div class="span2 offset2">
					<div class="text-center">
						<a href="http://www.amazon.com/s/ref=sr_nr_p_89_0?rh=i%3Aaps%2Ck%3Awebrc%2Cp_89%3AWebRC&keywords=webrc&ie=UTF8&qid=1403213450&rnid=2528832011" target="_blank">
							<img src="img/where-to-buy/amazon-logo-small.png" alt="Amazon Logo">
						</a>
					</div>
				</div>
				<div class="span2">
					<div class="text-center">
						<a href="http://www.toysrus.com/search/index.jsp?kwCatId=&kw=webrc&origkw=WebRC&sr=1" target="_blank">
							<img src="img/where-to-buy/toys-r-us-logo-small.png" alt="ToysRUs Logo">
						</a>
					</div>
				</div>
				<div class="span2">
					<div class="text-center">
						<a href="http://www.target.com/s?searchTerm=webrc+toys&sortBy=PriceLow&Nao=0&viewType=medium&category=0|All|matchallpartial|all%20categories&resultsPerPage=48&s=y" target="_blank">
						<img src="img/where-to-buy/target-logo-small.png" alt="Target Logo">
					</a>
				 </div>
				</div>
				<div class="span2">
					<div class="text-center">
						<a href="http://www.walmart.com/search/search-ng.do?ic=16_0&Find=Find&search_query=WebRC&Find=Find&search_constraint=0" target="_blank">
							<img src="img/where-to-buy/walmart-logo-small.png" alt="Walmart Logo">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>