<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=utf-8 />

	<title>{{site.main_title}} - {{page.title}}</title>
	
	{% if page.description %}
	<meta name="description" content="{{page.description}}" />
	{% else %}
	<meta name="description" content="{{site.description}}" />
	{% endif %}


</head>
<body>

	{{ content }}

</body>

<footer>

	<p>&copy; Groovy Toys Llc

		    <script language="JavaScript" type="text/javascript">
		    now = new Date
		    theYear=now.getYear()
		    if (theYear < 1900)
		    theYear=theYear+1900
		    document.write(theYear)
			</script>
	</div>

</footer
</html>