<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}

</head>
<body>

	
	{{ content }}

	<!-- Javascript 
		==============================================================-->

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="js/bootstrap.js" /></script>


	<!-- Help Desk (Zendesk) Feedback Tab Code -->
		<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
		<style type="text/css" media="screen, projection">
		  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
		</style>
		<script type="text/javascript">
		  if (typeof(Zenbox) !== "undefined") {
		    Zenbox.init({
		      dropboxID:   "20118505",
		      url:         "https://myfunkyplanet.zendesk.com",
		      tabTooltip:  "Support",
		      tabImageURL: "https://p4.zdassets.com/external/zenbox/images/tab_support.png",
		      tabColor:    "black",
		      tabPosition: "Left"
		    });
		  }
		</script>

	<!-- /Help Desk (Zendesk) Feedback Tab Code -->

	<!-- Google Code for Remarketing Tag -->
		<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 1067930188;
		var google_custom_params = window.google_tag_params;
		var google_remarketing_only = true;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1067930188/?value=0&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript>
	<!-- /Google Code for Remarketing Tag -->


	<!-- /Javascript -->

	<footer>

		{% include footer.html %}

	</footer>

</body>

</html>